/* Global styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    color: #444;
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: transparent;
    color: black;
    padding: 0.05% 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
  /* Styles for movie details sections */
  h1 {
    text-align: center;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

/* Styles for video player */
#player {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}